.bg-intro {
  width: 780px;
  height: 700px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
.bg-intro__img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -120px;
  right: -140px;
}
